 <div class="py-5">

     <div class="container">
         <div class="row hidden-md-up">
             <% @videos.each do |item| %>

             <div class="col-md-4">
                 <!-- Card -->
                 <div class="card">

                     <!-- Card content -->
                     <div class="card-body d-flex flex-row">

                         <!-- Avatar -->
                         <img src="/images/support.png" class="rounded-circle mr-3" height="50px" width="50px" alt="avatar">

                         <!-- Content -->
                         <div>
                             <!-- Title -->
                             <h4 class="card-title font-weight-bold mb-2">
                                 <%= item.nome %>
                             </h4>
                             <!-- Subtitle -->
                             <p class="card-text"><i class="far fa-clock pr-2"></i>
                                 <%= Time.now %>
                             </p>

                         </div>

                     </div>

                     <!-- Card image -->
                     <div class="view overlay">
                         <video id="example-video_<%= item.id %>" class="video-js vjs-default-skin" width=350 height=300 controls>
                             <source src="<%= item.url %>" type="application/x-mpegURL"></video>
                         <script>
                             var player = videojs('example-video_<%= item.id %>');
                             player.on("click", function(event) {
                                 event.preventDefault();
                                          
                                 let url     = `${document.URL}views/${<%= item.id %>}` ;
                                 let el_down = document.getElementById("btn_view_"+<%= item.id %> ); 
                                 console.log(url)

                                 fetch(url, {method: 'get'}).then(function(response) {
                                     response.json().then(function(data) {
                                        console.log("Response data : ", data);
                                        el_down.innerHTML = data.row.total; 
                                     });
                                 }).catch(function(err) {
                                     console.error(err);
                                 });
                             });
                             player.play();
                         </script>
                     </div>

                     <!-- Card content -->
                     <div class="card-body">

                         <div class="collapse-content">
                             <!-- Text -->
                            <p class="card-text collapse" id="collapseContent_<%= item.id %>">
                                 Watch the video here
                                 <a href="<%= item.url %>">click here</a>
                            </p>
                            <!-- Button -->
                            <a class="btn btn-outline-primary btn-flat red-text p-1 my-1 mr-0 mml-1 collapsed" data-toggle="collapse" href="#collapseContent_<%= item.id %>" aria-expanded="false" aria-controls="collapseContent">Details</a>
                            <i class="fa fa-share-alt text-muted float-right p-1 my-1" data-toggle="tooltip" data-placement="top" title="Share this post"></i>
                            
                            <% if item.view != nil %>
                                <span id="btn_view_<%= item.id %>" data-id="<%= item.id %>" class="badge badge-secondary float-right p-1 my-1 mr-3"><%= item.view.total %></span>
                            <% end %>


                         </div>

                     </div>

                 </div>
                 <!-- Card -->
             </div>
             <% end %>


         </div>
     </div>
 </div>