<nav class="navbar navbar-expand-lg navbar-dark bd-navbar-purple">
    <div class="container">
        <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> 
        <span class="sr-only">Toggle navigation</span>
        </button> 
        <%= link_to "Net Show Video", root_path, class: 'navbar-brand' %>
        
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav mr-auto">
                <li class='nav-item'>
                    <%= link_to 'Home', home_index_path, class: 'nav-link' %>
                </li>
                <li class='nav-item'>
                    <%= link_to 'Videos', home_index_path, class: 'nav-link' %>
                </li>

                <% if current_user %>                  
                <li class='nav-item'>
                     Logged in as <%= current_user.email %>.
                </li>
                <li class='nav-item'>
                    <%= link_to 'Log Out', logout_path, class: 'nav-link' %>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown link
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>


                <% else %>               
                <li class='nav-item'>
                    <%= link_to 'Sign Up', signup_path, class: 'nav-link' %>
                </li>
                 <li class='nav-item'>
                    <%= link_to 'Log In', login_path, class: 'nav-link' %>
                </li>
                <% end %>

                
            </ul>
        </div>
    </div>
</nav>