<!DOCTYPE html>
<html>

<head>
    <title>Net Show Video</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Net Show Video" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Net Show Video" %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>

    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/video.js/7.0.0/video-js.css' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/video.js/7.0.0/video.min.js"></script>
    <script src="https://unpkg.com/videojs-flash/dist/videojs-flash.js"></script>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/videojs-contrib-hls/5.15.0/videojs-contrib-hls.js' %>

</head>

<body>
    <header>
        <%= render 'layouts/navigation' %>
    </header>
   
    <% if notice %>
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>     
            <p id="notice"><%= notice %></p>
        </div>
    <% end %>
    <% if alert %>
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>     
            <p id="notice"><%= alert %></p>
        </div>
    <% end %>
    <hr>
    <%= yield %>

     <%= debug(params) if Rails.env.development? %>
</body>

</html>